
section.register-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-register {
    width: 70%;
    height: 30rem;
    border: solid 2px #e4c84e;
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-register form {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
} 

.card-register form span {
    font-size: 22px;
    font-weight: bold;
    color: #1a1a1a;
    display: inline-flex;
    align-items: center;
}

.card-register span img {
    width: auto;
    height: 28px;
    margin-right: 3px;
}

#card-login { gap: 0.9em; }

.reg-label-input label { font-size: 15px; }

.reg-label-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 95%;
    gap: 5px;
}

.reg-label-input input {
    border: 2px solid #1a1a1a4f;
    padding: 0 10px 0 10px;
    outline: 0;
    font-size: 17px;
}

.login-label input { height: 37px; }

.options-posInput {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options-posInput p {
    margin: -10px 10px 0 0;
    font-size: 12px;
}

#forget_password a {
    text-decoration: none;
    color: blue;
}
 
#forget_password a:hover { font-weight: bold; }

#redirect_register {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold;
}

#redirect_register:hover { color: rgb(40, 40, 167); } 

.login_options div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: cent
}

.login_options div div {
    width: 11em;
    height: 1.8em;
}

.login_options div div a {
    padding: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
}

#login_with_google img {
    width: 20px;
    height: 20px;
}

#login_with_facebook img {
    width: 16px;
    height: 15px;
}

#login_with_google {
    background-color: rgb(177, 55, 55);
}

#login_with_facebook {
    background-color: rgb(52, 52, 196);
}

.login_options > p { display: none;}

#login_with_google:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

#login_with_facebook:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.send_form:hover { border: solid 2px #1a1a1a; }

.send_form {
    width: 100%;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    background-color: #e4c84e;
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    cursor: pointer;
    margin-top: 7px;
}


@media (max-width: 900px) {
    
    .card-register form span { 
        font-size: 18px;
        transition: .4s;
    }

    #redirect_register { font-size: 13px;}

    .login_options {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5px;
    }

    #card-login button {
        height: 2em;
        transition: .4s;
        border-radius: 7px;
    }
}

@media (max-width: 850px) {

    .card-register {
        height: 30rem;
        width: 70%;
    }

    .login_options div div a p { display: none;}

    .login_options > p { 
        display: block;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .login_options div div { width: 6em; }

}

@media (max-width: 600px) {

    .card-register { height: 28rem;}

    .card-register form {
        margin: 1.5em;
        transition: .4s;
    }

    .card-register { width: 70%; transition: .4s; }

    .login-label input { height: 32px;}

    .options-posInput p br { display: none;}

    .options-posInput {
        flex-direction: column;
        gap: 1em;
        align-items: center;
        text-align: center;
    }

    #redirect_register { font-size: 13px;}

    .login_options div div a { border-radius: 50% }

    .login_options div div {
        width: 40px;
        height: 35px;
    }

    #login_with_google img {
        width: 18px;
        height: 18px;
    }

    #login_with_facebook img {
        width: 16px;
        height: 15px;
    }

    #card-login button {
        margin-top: 0;
        font-size: 18px;
        height: 2.2em;
    }
}

@media (max-width: 450px) {

    .card-register { height: 27rem;}

    .login-label label { font-size: 13px;}

    .login-label input {
        height: 30px;
        font-size: 14px;    
    }

    .options-posInput { gap: 1.5em;}

    #redirect_register { font-size: 12px; }

    .login_options { margin-top: 0;}

    .login_options > p { margin-bottom: 10px;}

    #login_with_google img {
        width: 16px;
        height: 16px;
    }

    #login_with_facebook img {
        width: 14px;
        height: 14px;
    }

    #card-login button {
        height: 2em;
        margin-top: 5px;
    }
}

@media (max-width: 370px) {

    #card-login { gap: 10px; }

    .options-posInput p { font-size: 11px; }

    .options-posInput { gap: 1.7em;}

    .login_options { margin-top: 0;}

    #card-login button {
        height: 2.2em;
    }
}

@media (min-width: 1000px) {

    .card-register {
        height: 33rem;
        width: 50%;
        transition: .4s;
    }

    .card-register form span { font-size: 25px;}
    .login-label label { font-size: 17px;}

    .login-label input {
        height: 40px;
        font-size: 18px;
        transition: all .4s;
    }

    .options-posInput { margin-top: -10px; }

    .options-posInput p { font-size: 15px;}

    .options-posInput p br { display: none;}

    #redirect_register { font-size: 16px;}

    .login_options div div {
        height: 2.2em;
        width: 14em;
    }

    .login_options div div a { font-size: 14px; transition:  all .4s; }

    #card-login button { height: 3em; transition: .4s;}

}

/* @media (max-width: 1100px) {
    .login_options div div {
        height: 1.8em;
        width: 12em;
        transition: all .4s;
    }

    .login_options div div a {
        font-size: 13px;
        justify-content: center;
        gap: 8px;
        transition: all .4s;
    }

    #card-login button {
        height: 2.7em;
        transition: .4s;
        margin-top: 0;
    }
} */

/* @media (min-width: 1200px) {
    .card-register {
        height: 80%;
        transition: .4s;
    }
} */


/*--- CADASTRO ---*/

#card-signUp {
    gap: 10px;
    height: 34rem;
}

#card-signUp span { font-size: 20px;}

#card-signUp span { margin-bottom: 11px;}

.signUp-label { gap: 3px;}
.signUp-label label { font-size: 15px;}
.signUp-label input {
    height: 30px;
    font-size: 14px;
}

#termo-signUp { font-size: 13px; }

#return-login {
    margin-top: 23px;
    background-color: #1a1a1a;
    border-radius: 8px;
    height: 25px;
    width: 9.4em;
    text-align: center;
    line-height: 23px;
    transition: .4s;
}

#return-login a {
    padding: 12px;
    text-decoration: none;
    color: #fce687;
    font-size: 12px;
    font-weight: bold;
}

#return-login:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
 }
 
.signUp-label label { font-size: 14px;}

#card-signUp button {
    height: 2.3em;
    bottom: 3.9em;
}








/* @media (max-width: 900px) {
    .card-register {
        width: 35rem;
        height: 35rem;
        transition: all .4s;
    }

    #card-login span { padding-bottom: 3px;}
    #card-signUp span { font-size: 20px;}

    .login-label label { font-size: 17px;}
    .login-label input { height: 40px; }

    #card-login { gap: 1.5em; }

    .options-posInput p {
        margin: -9px 10px 0 0;
        font-size: 15px;
    }

    #login_with_google { margin-top: 7px; }
    #login_with_facebook { margin-top: 10px; }

    .send_form { height: 3.2em;}

    .signUp-card { height: 30rem; }

    .signUp-label label { font-size: 13px;}
    .signUp-label input { height: 26px; }

    #termo-signUp { font-size: 12px;}

    #return-login {
        height: 23px;
        width: 8em;
        line-height: 20px;
        margin-top: 8px;
        transition: .4s;
    }

    #return-login a { font-size: 11px;}

    #card-signUp button {
        height: 2.4em;
        bottom: 5.8em;
        font-size: 20px;
    }

}

@media (max-width: 670px) {
    .card-register {
        width: 30rem;
        height: 35rem;
        transition: all .4s;
    }

    .signUp-card { height: 30rem; }

    #card-login span { padding-bottom: 5px;}

    .login-label input { height: 43px; font-size: 19px;}

    #card-login { gap: 1.2em; }

    .options-posInput p {
        margin: -5px 10px 0 0;
        font-size: 15px;
    }

    .login_options div div a {
        width: 190px;
        height: 23px;
        line-height: 23px;
        font-size: 13px;
    }

    #login_with_google { margin-top: 15px; }

    #return-login {
        height: 21px;
        width: 8em;
        line-height: 18px;
        margin-top: 13px;
        transition: .4s;
        border-radius: 6px;
    }

    #return-login a { font-size: 10px;}

    .send_form { bottom: 3.5em;}

}

@media (max-width: 560px) {
    .card-register {
        width: 24rem;
        height: 35rem;
    }

    .signUp-card {
        height: 30rem;
    }

    .options-posInput p br { display: none;}

    #forget_password { font-size: 15px;}
    #redirect_register { font-size: 15px;}

    .options-posInput {
        flex-direction: column;
        gap: 1.2em;
        align-items: center;
        text-align: center;
    }

    .login_options div div a {
        width: 170px;
        height: 22px;
        line-height: 17px;
        font-size: 12px;
    }

    #login_with_google { margin-top: 10px;}

    #card-signUp span { font-size: 17px; }

    #termo-signUp { font-size: 11px;}

    #return-login {  margin-top: 14px;}

    #card-signUp button {
        height: 2.3em;
        bottom: 5.7em;
    }
}

@media (max-width: 450px) {
    .card-register {
        width: 20rem;
        height: 30rem;
    }

    .signUp-card {
        height: 27rem;
    }

    #card-login span { padding-bottom: 3px;}

    .card-register form span img { height: 23px;}

    .card-register form span { font-size: 20px;}

    .login-card form div label { font-size: 15px;}

    .login-label input { height: 35px;}

    #forget_password {
        font-size: 13px;
        margin-top: -10px   ;
    }

    #redirect_register { font-size: 14px;}

    #login_with_google p { display: none;}

    .login_options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .login_options > div {
        display: flex;
        gap: 10px;
    }

    .login_options p {
        font-size: 14px;
        font-weight: 500;
    }

    .login_options > p { display: block;}

    .login_options div div a p { display: none;}

    .login_options div div a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 0;
    }

    #login_with_facebook { margin-top: 10px;}

    .send_form {
        height: 2.5em;
        bottom: 3em;
    }

    #card-signUp {
        gap: 7px;
        margin: 1.5em;
        transition: .4s;
    }

    #card-signUp span { font-size: 15px; margin-bottom: 5px;}

    .signUp-label label { font-size: 12px;}

    .signUp-label input { height: 22px; font-size: 13px;}

    #termo-signUp { font-size: 10px;}

    #return-login a { font-size: 9px; }
    #return-login {
        margin-top: 21px;
        height: 23px;
        width: 7em;
        line-height: 19px;
        transition: .4s;
    }

    #card-signUp button {
        height: 2.5em;
        bottom: 9.5em;
        transition: .4s;
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .card-register {
        width: 16rem;
        height: 27rem;
    }

    .signUp-card {
        height: 25rem;
    }

    .card-register form { margin: 1.5em;}

    .card-register form span { font-size: 17px;}

    #card-login { gap: 1em; }

    #card-login span { padding-bottom: 0;}

    .card-register form span img { height: 20px;}

    .login-label input { height: 30px; font-size: 15px;}

    .options-posInput { gap: 1em;}

    .options-posInput p br { display: block;}

    #forget_password { margin-top: -10px; font-size: 13px;}

    #redirect_register { font-size: 13px;}

    .login_options div div a {
        width: 25px;
        height: 25px;
    }

    .send_form {
        height: 2.2em;
        bottom: 2.4em;
    }

    .signUp-label label { font-size: 11px;}

    .signUp-label input { height: 23px; font-size: 12px;}

    #termo-signUp { font-size: 8px;}

    #return-login {
        margin-top: 11px;
        height: 20px;
        line-height: 16px;
    }

    #card-signUp button {
        height: 2.7em;
        bottom: 12.7em;
        transition: .4s;
        font-size: 15px;
    }

} */