
.card-freeFire {
    background-color: #1a1a1a;
    color: #fff;
    width: 15rem;
}


/* ---- redirect ---------------*/

.redirect {
    border-top: #1a1a1a2c 1px solid;
    border-bottom: #1a1a1a2c 1px solid;
    margin: 3rem 0 3rem 0;
    display: flex;
    justify-content: center;
}

.redirect a {
    display: flex;
    gap: 10px;
    margin: 10px 0px 10px 0px;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
    color: #1a1a1a;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
}

.redirect a:hover {
    font-weight: bold;
    color: rgb(173, 142, 57);
}


#return_homePage a {
    border-right: #1a1a1a2c 1px solid;
}

#redirect_segurancaGarantida a {
    border-right: #1a1a1a2c 1px solid;
}


@media (max-width: 525px) {

    .redirect a {
        font-size: 11px;
        padding-right: 1em;
        padding-left: 1em;    
        transition: all .4s;
    }

    .redirect div a img {
        width: 15px;
        transition: all .4s;
    }
}

@media (max-width: 380px) {

    .redirect a {
        font-size: 10px;
    }

    .redirect div a img {
        width: 13px;
        gap: 5px;
    }
}

@media (min-width: 1500px) {

    .redirect div a p {
        font-size: 16px;
        transition: .4s;
    }
}