* { margin: 0; padding: 0; }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #eee;
}

/*-----------------  Overheader:  -------------------*/

section.overheader {
    display: flex;
    position: relative;
    width: 100%;
    height: 28px;
    top: 0;
    left: 0;
    padding: 0 10%;
    box-sizing: border-box;
    background-color:#1a1a1a;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
    z-index: 100;
    border-bottom: solid 1px rgba(255, 255, 255, 0.205);
    padding-left: 0px;
}

section.overheader > ul {
    display: flex;
}

section.overheader > ul li {
    display: inline;
    opacity: 76%;
}

.overheader ul li {
    list-style: none;
    margin-left: 120px;
}

#entrega-imediata {margin-left: 20px;}
#whatsapp {margin-left: 10px;}
#email {margin-left: 15px;}

.overheader ul li a {
    text-decoration: none;
    color: white;
    font-size: 8px;
    line-height: 48px;
}

.overheader ul li h2 img {
    position: relative;
    top: 10px;
    width: 17px;
    height: 20px;
    margin: 4px;
}

.overheader ul li h2 {margin: 0;}

.overheader ul li:hover {
    opacity: 100%;
}

.country-selection img {
    position: relative;
    left: 35px;
    width: 25px;
    top: 2.5px;
    cursor: pointer;
    border-radius: 4px;
}

.country-selection img:hover {
    transform: scale(1.1);
    transition: all 0.1s
}

/*-----------------  Header:  -------------------*/

header {
    background-color: #1a1a1a;
    height: 105px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}

#logo {
    padding: 0;
    margin: 6px 30px 10px 60px;
}

#logo-dh {
    width: 70px;
    height: 70px;
}

#title-logo {
    font-size: 30px;
    text-align: center;
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#logo a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.search {
    position: relative;
    top: 1px;
    margin: 0px;
    margin-bottom: 4px;
}

.search div {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 43px;
    margin: 10px;
}

.search input {
    padding-left: 15px;
    padding-right: 6px;
    font-size: 19px;
    width: 400px;
    border: none;
    outline: 0;
    text-align: left;
}

.search button {
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px;
    padding-right: 7px;
}

.search img {
    padding-top: 6px;
    align-items: center;
    padding-bottom: 2px;
}

ul.menu {padding-left: 0px}

.header-options {
    justify-self: flex-end; 
    display: flex;
}

.header-options div {
    margin-top: 0px;
    margin-left: 20px;}

.header-options a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
}

.menu {
    list-style: none;
    display: flex;
    padding-bottom: 11px;
}

.menu li {
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu li:hover {
    /* position: relative; */
    background-color: none;
    border-radius: 10px;
    background: none;
    /* border: solid 1px #fad11b; */
    box-shadow:0 3px 10px 0 #fcd528e7; 
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header-options ul li a:hover {
    color: white;
}

.menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
}  

.menu li:hover ul, .menu li.over ul {display:block;}

#suport {
    position: relative;
    font-size: 16px;
    display: inline-block;
    align-items: center;
    padding: 9px 2px 10px 2px;
    margin-top: 11px;
}

#login {
    position: relative;
    left: 27px;
    font-size: 15.8px;
    padding: 0px 2px 2px 2px;
    margin-top: 10px;
}

.header-options ul li img {
    width: 26px;
    float: left;
    padding-left: 5px;
}

#icone-suporte {
    padding-top: 2px;
}
#icone-login {
    padding-top: 10px;
}

.shopping-cart {
    position: relative;
    background-color: #fad11b;
    border: none;
    border-radius: 10px;
    width: 55px;
    height:55px;
    left: 15px;
    bottom: 1px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.3s;    
} 

.shopping-cart ul li {list-style: none;}

.shopping-cart img {
    position: absolute;
    width: 35px;
    height: 36px;
    bottom: 9px;
    left: 11px;
}

.shopping-cart:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.settings ul li {list-style: none;}
.settings ul li a {text-decoration: none; color: white;}

.settings img {
    width: 45px;
    padding-right: 18px;
    transition: all .3s;

}

.settings ul li img:hover {
    transform: scale(1.1);
}
hr#divisoria {
    width: 100%;
    height: 4px;
    background-color: #fad11b;
    border: none;
    margin: 0;
    padding: 0;
    top: 0px;
}

/*-----------------  Categorias:  -------------------*/

.categorias ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.categorias ul li {
    background-color: #1a1a1a   ;
    list-style: none;
    width: 100%;
    height: 44px;
    text-align: center;
    font-size: 17px;
    line-height: 44px;
    font-weight: bold;
    justify-content: space-around;
    
}

.categorias ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.categorias ul li:hover {
    background-color: #fad11b;
    color: black;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 16.4px;
}

.categorias ul li:hover > a {
    color: black;
}


.categorias ul ul {
    flex-direction: column;
    display: none;
}

.categorias ul li:hover > ul {
    display: block;
}

.categorias ul ul li {
    font-size: 15px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.categorias ul ul li:hover {
    transition: .4s;
    background-color: #fad11b;
    font-size: 14.3px;
    text-align: center;
}

.categorias {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.247);
}

/*-----------------  Chat:  -------------------*/

.chat {
    position: relative;
    z-index: 2;
}

.chat ul li {list-style: none;}

.chat ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.chat ul li img {
    width: 60px;
}

#chat-icon {
    position: fixed;
    right: 13px;
    bottom: 10px;
    transition: .2s;
}

.chat ul ul {
    display: none;
    position: fixed;
    right: 5px;
    bottom: 7px;
    border: solid 2px #e2bf23; 
    border-radius: 10px;
    background-color: none;
    color: black;
    width: 140px;
    height: 48.2px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 18px;
}

#balao-chat li {
    margin-top: 6px;
    margin-right: 59px;
}

.chat ul li:hover > ul {
    display: block;
}

#chat-icon:hover {
    transform: scale(1.1);
}

/*-------------------------------- main ---------------------------------*/

.video {
    display: flex;
    position: relative;
}


.video-lol video {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 69rem;
    width: 25rem;
    border:ridge 3px white;
    border-radius: 50%;
    box-sizing: border-box;  
}

