
main { margin: 3rem }

.title-support {
    background-color: #1a1a1a2c;
    height: 3rem;
    display: flex;
    align-items: center;
}

.title-support span {
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.title-suporte-div {
    display: inline-flex;
    gap: 7px;
    align-items: center;
}

.title-suporte-div img {
    width: 22px;
    height:20px;
}

.title-suporte-div span {
    font-size: 18px;
    font-weight: bold;
}

.divSub-support {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.divSub-support span {
    display: inline-flex;
    gap: 5px;
}


.div-support {
    display: block;
    margin: 2rem 0 2.5rem 0;
}

#location-gmaps {
    margin-top: 1rem;
    width: 40rem;
    height: 30rem;
}

@media (max-width: 725px) {
    
    #location-gmaps { 
        width: 30rem;
        height: 20rem;
        transition: .4s;
    }
}

@media (max-width: 565px) {

    #location-gmaps { 
        width: 25rem;
        height: 15rem;
        transition: .4s;
    }
}

@media (max-width: 490px) {

    .title-support span {
        font-size: 18px;
        transition: .4s;
    }

    .title-suporte-div span { font-size: 16px;}


    .divSub-support {
        font-size: 14px;
        transition: all .4s;
    }

    #location-gmaps { 
        width: 22rem;
        height: 15rem;
    }
}

@media (max-width: 435px) {
    #location-gmaps { 
        width: 19rem;
        height: 11rem;
    }
}

@media (max-width: 380px) {
    #location-gmaps { 
        width: 16rem;
        height: 11rem;
    }
}

@media (max-width: 340px) {

    main { margin: 2rem; transition: .4s;}

    .title-support span {
        font-size: 15px;
    }

    .title-suporte-div img {
        width: 18px;
        height: 16px;
    }

    .title-suporte-div span { font-size: 14px;}

    .divSub-support span { font-size: 13px;}

    #location-gmaps { 
        width: 14rem;
        height: 9rem;
    }
}

@media (min-width: 1400px) {

    .title-support span { font-size: 22px; }

    .title-suporte-div span { font-size: 22px;}

    .divSub-support span { font-size: 18px;}

    #location-gmaps { 
        width: 50rem;
        height: 30rem;
        transition: .4s;
    }

}