<section class="chat-container">
    <a href="https://wa.me/5511976070718" target="_blank" class="chat">
        <strong>
            Precisa de ajuda?
            <br>
            Fale conosco <br> pelo whatsapp

        </strong>

        <img src="/img/icons/Call-Service.png">
    </a>
</section>
