<footer>
    <section class="info-dh">
        <div class="firstContainer-footer">

            <span id="payment-methods-title">Formas de pagamento</span>

            <div class="payment-type">
                <div id="credit-card">
                    <span>Cartões de crédito</span>
                    <br>
                    <img src="/assets/img/formas-de-pagamento/visa-icon.png" alt="Visa">
                    <img src="/assets/img/formas-de-pagamento/credito-mastercard-icon.png" alt="Mastercard">
                    <img src="/assets/img/formas-de-pagamento/credito-elo-icon.png" alt="Elo">
                    <img src="/assets/img/formas-de-pagamento/credito-hipercard-icon.png" alt="Hipercard">
                    <img src="/assets/img/formas-de-pagamento/credito-diners-icon.png" alt="Diners Club">
                </div>

                <div id="debit-card">
                    <span>Cartões de débito</span>
                    <br>
                    <img src="/assets/img/formas-de-pagamento/visaelectron-icon.png" alt="Visa Electron">
                    <img src="/assets/img/formas-de-pagamento/mastercard-icon.png" alt="Mastercard">
                </div>

                <div id="debit-account">
                    <span>Débito em conta</span>
                    <br>
                    <img src="/assets/img/formas-de-pagamento/debito-bancario-brasil-icon.png" alt="Banco do Brasil">
                    <img src="/assets/img/formas-de-pagamento/debito-bancario-itau-icon.png" alt="Itaú">
                </div>

                <div id="bank-transfer">
                    <span>Transferência bancária</span>
                    <br>
                    <img src="/assets/img/formas-de-pagamento/debito-bradesco-icon.png" alt="Bradesco">
                    <img src="/assets/img/formas-de-pagamento/debito-santander-icon.png" alt="Santander">
                    <img src="/assets/img/formas-de-pagamento/pix.png" alt="Pix">
                </div>

                <div id="apps">
                    <span>Aplicativos</span>
                    <br>
                    <img src="/assets/img/formas-de-pagamento/picpay-icon.png" alt="Picpay">
                    <img src="/assets/img/formas-de-pagamento/iti-icon.png" alt="Iti">
                    <img src="/assets/img/formas-de-pagamento/atar-pay-icon.png" alt="Atar">
                </div>

                <div id="boleto">
                    <span>Boleto bancário</span>
                    <br>
                    <img src="/assets/img/formas-de-pagamento/boleto.png" alt="Boleto bancário">
                </div>

            </div>
        </div>

        <div class="secondContainer-footer">
            <div class="social-networks">
                <span id="social-networks-title">Siga-nos nas redes sociais</span>
                <div class="social-networks-icons">
                    <a href="https://pt-br.facebook.com/" target="_blank"><img src="/assets/img/redes-sociais/facebook.png"
                            alt="Facebook"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="/assets/img/redes-sociais/instagram.png"
                            alt="Instagram"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="/assets/img/redes-sociais/twitter.png"
                            alt="Twitter"></a>
                    <a href="https://www.youtube.com/" target="_blank"><img src="/assets/img/redes-sociais/youtube.png"
                            alt="Youtube"></a>
                </div>
            </div> <br>

            <div class="security">
                <span>Segurança garantida</span>
                <a href="https://www.siteblindado.com/" target="_blank"><img src="/assets/img/icons/site-blindado-logo.png"
                        alt="Site blindado"></a>
            </div>
        </div>
    </section>

    <section class="copyright">
        <p>
            © 2021, DH Games Ltda. TODOS OS DIREITOS RESERVADOS. Todas as marcas são propriedade dos seus
            respectivos donos nos EUA e em outros países.
            Os Horários do site seguem a Hora Oficial de Brasília (GMT -3).
        </p> <br>
        <p>
            DH Games Ltda. CNPJ: 01-012-012/0001-01. Avenida Paulista, nº 012 - São Paulo
            - SP Cep: 01234-567.
            <br>
            E-mail: atendimento@dhgames.com.br / Telefone: (11) 0123-4567
        </p>
    </section>

    <section class="info-copyright">

        <div>

            <img src="/assets/img/logo/dh-roxo-escuro.png" alt="DH Logo">

            <span> &copy; DH Games 2022 - Desenvolvido por Carol Frazão </span>

            <a href="https://github.com/carol-frazao" target="_blank">
                <img src="/assets/img/icons/github-icon.png" alt="Github" style="max-width: 30px; max-height: 30px">
            </a>

            <a href="https://www.linkedin.com/in/carol-frazao/">
                <img src="/assets/img/icons/linkedin-icon.png" alt="Linkedin" style="max-width: 30px; max-height: 30px">
            </a>
            
        </div>

    </section>

</footer>
