<header>
    <section class="overheader">
        <div class="overheader-options">

            <a href="/seguranca-garantida/" id="segurancaGarantida">
                <img loading="lazy" src="/img/icons/seguro-icon.svg" class="icon-overheader">Segurança garantida
            </a>

            <a href="/seguranca-garantida/" id="entregaImediata">
                <img loading="lazy" src="/img/icons/entrega-imediata.svg" class="icon-overheader">Entrega
                imediata
            </a>

            <a href="mailto:anacf04@outlook.com" id="send-email">
                <img loading="lazy" src="/img/icons/send-email.svg" class="icon-overheader">Envie-nos um e-mail
            </a>

            <a href="https://wa.me/5511976070718" target="_blank" id="whatsapp">
                <img loading="lazy" src="/img/icons/whatsapp_white.svg" class="icon-overheader">Whatsapp
            </a>

            <a href="/suporte/" id="supportHidden">
                <img loading="lazy" src="/img/icons/support_agent_white_24dp.svg" class="icon-overheader">Suporte
            </a>

            <% if(estaLogado) { %>
            <a href="#" id="loginHidden">
                <img loading="lazy" src="/img/icons/person_white_24dp.svg" class="icon-overheader"> Olá, <%= usuarioLogado.nome %>
            </a>

            <a href="/logout" class="icon-overheader">
                <img src="/img/icons/logout_white_24dp.svg" alt="">
            </a>

            <% } else { %>
                
            <a href="/login/" id="loginHidden">
                <img loading="lazy" src="/img/icons/person_white_24dp.svg" class="icon-overheader"> Login/cadastro
            </a>
            <% } %>
        
        </div>

        <div class="country">
            <img src="/img/icons/brasil.png" alt="Brasil" id="country-origin">
        </div>

    </section>

    <section class="header-center">

        <div class="dh-homePage">
            <a href="/">
                <img id="logo-dh" src="/img/logo/logo-dh-yellow.png" alt="DH">
                <span id="title-logo">GAMES</span>
            </a>
        </div>

        <div class="search">
            <input type="text" name="search" placeholder="O que você está procurando?">
            <button><a href="#">
                    <img src="/img/icons/lupa-cinza.svg" alt="Pesquisar"> </a>
            </button>
        </div>

        <div class="support">
            <a href="/suporte/">
                <img src="/img/icons/support-icon.png" class="icon-header">
                Suporte
            </a>
        </div>

        <% if(estaLogado) { %>
        <div class="logado">
        <% } else { %>
        <div class="login">
        <% } %>            

            <% if(estaLogado) { %>
            <a href="/admin" id="nomeUsuario"> 
                <img src="/img/icons/login-icon.png" class="icon-header">
                Olá, <%= usuarioLogado.nome %> 
            </a>
            
            <a href="/logout" class="login" id="logout">
                <img src="/img/icons/logout_white_24dp.svg" alt="">
                Sair
            </a>

            <% } else { %>

            <a href="/login/" >
                <img src="/img/icons/login-icon.png" class="icon-header">
                Faça seu login <br> ou cadastre-se
            </a>

            <% } %>

        </div>

        <div class="shopping-cart">
            <a href="/txt/carrinho.txt">
                <img src="/img/icons/outline-shopping-cart.png" alt="Carrinho">
            </a>
        </div>

        <input type="checkbox" id="check-nav">
        <label for="check-nav" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <nav class="categorias-hidden">
            <div>
                <input type="checkbox" id="check-mobile">
                <label for="check-mobile" class="checkbtn2"> JOGOS MOBILE
                    <i class="fas fa-bars"></i>
                </label>
                <div>
                    <a href="#">Free Fire</a>
                    <a href="#">Wild Rift</a>
                    <a href="#">Pubg Mobile</a>
                    <a href="#">Clash Royale</a>
                    <a href="#">Mobile Legends</a>
                    <p><a href="#"> Ver todos </a></p>
                </div>
            </div>

            <div>
                <input type="checkbox" id="check-jogosPC">
                <label for="check-jogosPC" class="checkbtn2"> JOGOS PC
                    <i class="fas fa-bars"></i>
                </label>
                <div>
                    <a href="#">CS:GO</a>
                    <a href="#">Fortnite</a>
                    <a href="#">Call of Duty</a>
                    <a href="#">Grand Theft Auto</a>
                    <a href="#">League of Legends</a>
                    <a href="#"> Ver todos </a>
                </div>
            </div>

            <div>
                <input type="checkbox" id="check-playstation">
                <label for="check-playstation" class="checkbtn2"> PLAYSTATION
                    <i class="fas fa-bars"></i>
                </label>
                <div>
                    <a href="#">FIFA</a>
                    <a href="#">God of War</a>
                    <a href="#">Final Fantasy</a>
                    <a href="#">Street Figther</a>
                    <a href="#">Gift Card Digital</a>
                    <a href="#"> Ver todos </a>
                </div>
            </div>

            <div>
                <input type="checkbox" id="check-xbox">
                <label for="check-xbox" class="checkbtn2"> XBOX
                    <i class="fas fa-bars"></i>
                </label>
                <div>
                    <a href="#">Diablo</a>
                    <a href="#">Fortnite</a>
                    <a href="#">Battlefield</a>
                    <a href="#">Assassin's Creed</a>
                    <a href="#">Gift Card Digital</a>
                    <a href="#"> Ver todos </a>
                </div>
            </div>

            <div>
                <input type="checkbox" id="check-steam">
                <label for="check-steam" class="checkbtn2"> STEAM
                    <i class="fas fa-bars"></i>
                </label>
                <div>
                    <a href="#">DOTA</a>
                    <a href="#">Destiny</a>
                    <a href="#">Dark Souls</a>
                    <a href="#">Counter Strike</a>
                    <a href="#">Gift Card Digital</a>
                    <a href="#"> Ver todos </a>
                </div>
            </div>

        </nav>

    </section>

    <hr id="divider-to-categories">

    <section class="categorias-container">
        <nav class="nav-bar">

            <ul class="categorias">

                <li><a>Jogos Mobile</a>
                    <ul class="sub-categorias">
                        <li><a href="#">free fire</a></li>
                        <li><a href="#">Wild rift</a></li>
                        <li><a href="#">PUBG mobile</a></li>
                        <li><a href="#">clash royale</a></li>
                        <li><a href="#">mobile legends</a></li>
                        <a href="#"> Ver todos </a>
                    </ul>
                </li>

                <li><a>Jogos pc</a>
                    <ul class="sub-categorias">
                        <li><a href="#">CS:GO</a></li>
                        <li><a href="#">Fortnite</a></li>
                        <li><a href="#">Call of Duty</a></li>
                        <li><a href="#">Grand Theft Auto</a></li>
                        <li><a href="#">League of Legends</a></li>
                        <a href="#"> Ver todos </a>
                    </ul>
                </li>

                <li><a>Playstation</a>
                    <ul class="sub-categorias">
                        <li><a href="#">FIFA</a></li>
                        <li><a href="#">God of war</a></li>
                        <li><a href="#">Final Fantasy</a></li>
                        <li><a href="#">Street Fighter</a></li>
                        <li><a href="#">Gift Card Digital</a></li>
                        <a href="#"> Ver todos </a>
                    </ul>
                </li>

                <li><a>xbox</a>
                    <ul class="sub-categorias">
                        <li><a href="#">Diablo</a></li>
                        <li><a href="#">Fortnite</a></li>
                        <li><a href="#">Battlefield</a></li>
                        <li><a href="#">Assassin's Creed</a></li>
                        <li><a href="#">Gift Card Digital</a></li>
                        <a href="#"> Ver todos </a>
                    </ul>
                </li>

                <li><a>steam</a>
                    <ul class="sub-categorias">
                        <li><a href="#">Dota</a></li>
                        <li><a href="#">Destiny</a></li>
                        <li><a href="#">Dark Souls</a></li>
                        <li><a href="#">Counter Strike</a></li>
                        <li><a href="#">Gift Card Digital</a></li>
                        <a href="#"> Ver todos </a>
                    </ul>
                </li>

            </ul>

        </nav>

    </section>

</header>
