<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login-cadastro.css">

</head>

<body>

    <%- include('./partials/header') %>

    <main>

        <section class="register-container">

            <div class="card-register signUp-card">

                <form action="/users/registraUsuario" method="POST" id="card-signUp" name="formRegister" onsubmit="return envioFormRegistro();">

                    <span> 
                        <img src="/img/icons/person_outline_black_24dp.svg" alt="">
                        Registre-se
                    </span>

                    <div class="reg-label-input signUp-label">
                        <label for="nome"> Qual o seu nome? <i style="color: red"> * </i> </label>
                        <input type="text" name="nome" id="nome">
                        <!-- <% if (locals.errors && errors.name) { %>
                            <p class="feedback"> <% errors.name %> </p>
                        <% } %> -->
                    </div>

                    <div class="reg-label-input signUp-label">
                        <label for="email"> Digite seu e-mail: <i style="color: red"> * </i> </label>
                        <input type="email" name="email" id="email">
                        <!-- <% if (locals.errors && errors.name) { %>
                            <p class="feedback"> <% errors.name %> </p>
                        <% } %> -->
                    </div>

                    <div class="reg-label-input signUp-label">
                        <label for="senha"> Crie uma senha: <i style="color: red"> * </i> </label>
                        <input type="password" name="senha" id="senha">
                        <!-- <% if (locals.errors && errors.name) { %>
                            <p class="feedback"> <% errors.name %> </p>
                        <% } %> -->
                    </div>

                    <div class="reg-label-input signUp-label">
                        <label for="confirmSenha"> Confirme sua senha: <i style="color: red"> * </i> </label>
                        <input type="password" name="confirmaSenha" id="confirmaSenha">
                        <!-- <% if (locals.errors && errors.name) { %>
                            <p class="feedback"> <% errors.name %> </p>
                        <% } %> -->
                    </div>

                    <p id="termo-signUp"> Ao criar uma conta, você concorda com nossos <a href="/users/cadastro/termosDeUso/"> termos de uso</a>,
                        condições e <a href="/users/cadastro/politicaPrivacidade/"> política de privacidade</a>. </p>

                    <div id="return-login">
                        <a href="/login/"> Já tenho cadastro </a>
                    </div>

                    <button type="submit" class="send_form"> Criar conta </button>
                </form>
            </div>

        </section>

        <!-- Redirect para outras pages -->
        <section class="redirect">

            <div id="return_homePage">
                <a href="/">
                    <img src="/img/icons/homePage_black_18dp.svg" alt="">
                    <p> Página Inicial </p>    
                </a>
            </div>

            <div id="redirect_segurancaGarantida">
                <a href="/segurancaGarantida/">
                    <img src="/img/icons/lock_black_18dp.svg" alt="">
                    <p> Segurança garantida </p>    
                </a>
            </div>
            
            <div id="redirect_suporte">
                <a href="/suporte/">
                    <img src="/img/icons/headset_mic_black_18dp.svg" alt="">
                    <p> Suporte </p>    
                </a>
            </div>

        </section>

    </main>

    <%- include('./partials/chat') %>

    <%- include('./partials/footer') %>

</body>

<script>

    function envioFormRegistro() {

        if(document.formRegister.nome.value == "")
        {
            alert( "Preencha seu nome" );
            document.formRegister.nome.focus();
            return false;
        }


        if(document.formRegister.nome.value.length < 3)
        {
            alert( "O nome precisa ter no mínimo 3 caracteres" );
            document.formRegister.nome.focus();
            return false;
        }


        if( document.formRegister.email.value=="" ||
        document.formRegister.email.value.indexOf('@')==-1 ||
        document.formRegister.email.value.indexOf('.')==-1 )
        {
            alert( "Insira um e-mail válido" );
            document.formRegister.email.focus();
            return false;
        }

        if (document.formRegister.senha.value=="")
        {
            alert( "Crie uma senha" );
            document.formRegister.senha.focus();
            return false;
        }

        if (document.formRegister.senha.value.length < 4 || document.formRegister.senha.value.length > 8)
        {
            alert("A senha deve ter entre 4 e 8 caracteres");
            document.formRegister.senha.focus();
            return false;
        }

        if (document.formRegister.confirmaSenha.value == "") {
            alert("Confirme sua senha");
            document.formRegister.confirmaSenha.focus();
            return false
        }

        if (document.formRegister.confirmaSenha.value != document.formRegister.senha.value) {
            alert("As senhas não conferem")
            document.formRegister.confirmaSenha.focus();
            return false
        }

        return true;
    }
    
</script>



</html>