<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login-cadastro.css">

</head>

<body>

    <%- include('./partials/header') %>

    <main>

        <section class="register-container">

            <div class="card-register signUp-card">

                <form action="" method="POST" id="card-signUp">

                    <span> 
                        <img src="/img/icons/person_outline_black_24dp.svg" alt="">
                        Registre-se
                    </span>

                    <div class="reg-label-input signUp-label">
                        <label for="nome"> Qual o seu nome? <i style="color: red"> * </i> </label>
                        <input type="text" name="nome" id="nome" required>
                    </div>

                    <div class="reg-label-input signUp-label">
                        <label for="email"> Digite seu e-mail: <i style="color: red"> * </i> </label>
                        <input type="email" name="email" id="email" required>
                    </div>

                    <div class="reg-label-input signUp-label">
                        <label for="senha"> Crie uma senha: <i style="color: red"> * </i> </label>
                        <input type="password" name="senha" id="senha" required>
                    </div>

                    <div class="reg-label-input signUp-label">
                        <label for="confirmSenha"> Confirme sua senha: <i style="color: red"> * </i> </label>
                        <input type="password" name="confirmSenha" id="confirmSenha" required>
                    </div>

                    <p id="termo-signUp"> Ao criar uma conta, você concorda com nossos <a href="/txt/termos_de_uso.txt"> termos de uso</a>,
                        condições e <a href="/txt/politica_privacidade.txt"> política de privacidade</a>. </p>

                    <div id="return-login">
                        <a href="/login/"> Já tenho cadastro </a>
                    </div>

                    <button class="send_form"> Criar conta </button>
                </form>
            </div>

        </section>

        <!-- Redirect para outras pages -->
        <section class="redirect">

            <div id="return_homePage">
                <a href="/">
                    <img src="/img/icons/homePage_black_18dp.svg" alt="">
                    <p> Página Inicial </p>    
                </a>
            </div>

            <div id="redirect_segurancaGarantida">
                <a href="/seguranca-garantida/">
                    <img src="/img/icons/lock_black_18dp.svg" alt="">
                    <p> Segurança garantida </p>    
                </a>
            </div>
            
            <div id="redirect_suporte">
                <a href="/suporte/">
                    <img src="/img/icons/headset_mic_black_18dp.svg" alt="">
                    <p> Suporte </p>    
                </a>
            </div>

        </section>

    </main>

    <%- include('./partials/chat') %>

    <%- include('./partials/footer') %>

</body>

</html>