<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/login-cadastro.css">
        <style>
            section.politica_content {
                margin: 0 4rem 0 4rem;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.089) 2px 2px 6px 2px;
            }

            .politica_content>h1 {
                padding-top: 2rem;
            }

            .politica_content>ol {
                padding: 1rem 3rem 3rem 3rem;
            }

            .ol_canalDenuncias {
                margin-left: 1rem;
            }
        </style>

</head>

<body>
    <section class="politica_content">

        <h1 style="text-align: center;"> POLÍTICA DE PRIVACIDADE </h1> <br>

        <ol>
            <p> <b> 1. DA POLÍTICA DE PRIVACIDADE </b></p> <br>

            <p>1.1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsam quae, fuga eveniet mollitia
                aperiam recusandae rem necessitatibus nobis iste, fugiat provident voluptate officiis, cum dolor odit
                excepturi asperiores est?</p> <br>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsam quae, fuga eveniet mollitia
                aperiam recusandae rem necessitatibus nobis iste, fugiat provident voluptate officiis, cum dolor odit
                excepturi asperiores est?</p> <br>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsam quae, fuga eveniet mollitia
                aperiam recusandae rem necessitatibus nobis iste, fugiat provident voluptate officiis, cum dolor odit
                excepturi asperiores est?</p> <br>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p> <b> 2. DA OBTENÇÃO DAS INFORMAÇÕES </b></p> <br>

            <p>2.1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>2.2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>2.3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>2.4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>2.5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p> <b>3. DA UTILIZAÇÃO DAS INFORMAÇÕES</b></p> <br>

            <p>3.1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>(i) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quibusdam veniam possimus fugit
                similique pariatur laudantium, impedit incidunt, aperiam enim quia veritatis expedita, nihil alias
                consequatur modi beatae corporis eos.</p> <br>

            <p>(ii) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ad odit voluptatibus magnam, dolore
                totam impedit velit voluptas officiis vitae veritatis eius autem unde mollitia quia esse temporibus
                minima sint!</p> <br>

            <p>(iii) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquam fugiat officiis sunt
                harum mollitia, assumenda soluta eaque eveniet repudiandae eligendi earum iusto fugit optio repellendus,
                corrupti aut voluptate maiores.</p> <br>

            <p>(iv) Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur pariatur unde ab cumque fugit
                incidunt voluptatibus vitae, cum nisi quidem id fugiat reprehenderit reiciendis maiores veritatis
                recusandae saepe molestias facilis.</p> <br>

            <p>3.2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam vel facilis sit illo nulla
                vero asperiores ducimus veniam assumenda? Provident quidem fuga enim facere, quos cupiditate repellat
                nihil consectetur!</p> <br>

            <p>3.3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque labore voluptatem incidunt
                perferendis, earum ut laudantium eligendi ipsum, magnam, ea repellat! Sit architecto fuga vel, numquam
                eaque sed nam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia libero recusandae
                accusantium debitis nobis, quas magnam aspernatur quis laudantium ad ducimus odit officia omnis! Tempore
                numquam possimus porro cupiditate labore.</p> <br>

            <p> <b> 4. O SITE </b> </p> <br>

            <p>4.1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia hic, quidem, id accusantium dolore
                iusto repellendus sint corporis nemo, dicta qui deserunt animi aspernatur aut. Eum fugiat quaerat nemo
                sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perferendis illum laudantium quam
                impedit quisquam ducimus amet harum doloremque, aliquid officia numquam a qui. Necessitatibus harum ipsa
                reiciendis magnam delectus!</p> <br>

            <p>4.2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia hic, quidem, id accusantium dolore
                iusto repellendus sint corporis nemo, dicta qui deserunt animi aspernatur aut. Eum fugiat quaerat nemo
                sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perferendis illum laudantium quam
                impedit quisquam ducimus amet harum doloremque, aliquid officia numquam a qui. Necessitatibus harum ipsa
                reiciendis magnam delectus!</p> <br>

            <p>4.3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam vel facilis sit illo nulla
                vero asperiores ducimus veniam assumenda? Provident quidem fuga enim facere, quos cupiditate repellat
                nihil consectetur!</p> <br>

            <p> <b> 5. MENORES DE IDADE </b> </p> <br>

            <p>5.1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia hic, quidem, id accusantium dolore
                iusto repellendus sint corporis nemo, dicta qui deserunt animi aspernatur aut. Eum fugiat quaerat nemo
                sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perferendis illum laudantium quam
                impedit quisquam ducimus amet harum doloremque, aliquid officia numquam a qui. Necessitatibus harum ipsa
                reiciendis magnam delectus!</p> <br>

            <p>5.2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia hic, quidem, id accusantium dolore
                iusto repellendus sint corporis nemo, dicta qui deserunt animi aspernatur aut. Eum fugiat quaerat nemo
                sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perferendis illum laudantium quam
                impedit quisquam ducimus amet harum doloremque, aliquid officia numquam a qui. Necessitatibus harum ipsa
                reiciendis magnam delectus!</p> <br>

            <p>5.3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam vel facilis sit illo nulla
                vero asperiores ducimus veniam assumenda? Provident quidem fuga enim facere, quos cupiditate repellat
                nihil consectetur!</p> <br>

            <p> <b> 6. CONFIDENCIALIDADE E SEGURANÇA DA INFORMAÇÃO </b>  </p> <br>

            <p>6.1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>6.2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>6.3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>6.4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p>6.5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas libero placeat
                accusantium ad! Maxime minus quas unde, molestias possimus earum in delectus nesciunt sint magni commodi
                rem, aperiam enim.
            </p> <br>

            <p> <b> 7. CANAL DE DENÚNCIAS </b> </p> <br>

            <p>7.1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque tenetur odit aperiam. Non esse
                et sit maiores consectetur asperiores doloribus assumenda molestias. Facere, blanditiis vel sed itaque
                sint qui cumque!</p> <br>

            <ol class="ol_canalDenuncias">
                <li>
                    <p>Fraudes econômico-financeiras;</p>
                </li>
                <li>
                    <p>Divulgação não autorizada de informação confidencial da empresa;</p>
                </li>
                <li>
                    <p>Conflito de Interesses;</p>
                </li>
                <li>
                    <p>Utilização inadequada ou inapropriada dos bens da empresa;</p>
                </li>
                <li>
                    <p>Utilização não autorizada ou inapropriada do nome, logo e marca da empresa; e</p>
                </li>
                <li>
                    <p>Assédio moral ou maus tratos.</p>
                </li>
            </ol> <br>

            <p>7.2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius excepturi expedita odio laboriosam
                quos magnam maxime voluptate consectetur veniam. Ea id, quis cupiditate mollitia iure fuga consequuntur
                sint quas eligendi?</p> <br>

            <p> <b> 8. TERCEIROS </b> </p> <br>

            <p>8.1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque aliquam fuga iusto odit? Animi
                eveniet dolor eligendi deleniti eaque ipsum distinctio pariatur, repellendus fuga fugit asperiores
                suscipit sit molestiae quae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias totam,
                consequatur quos doloribus fuga qui iure pariatur fugit, odit perferendis earum, quibusdam ad
                voluptatibus provident numquam repudiandae ipsa impedit! Fugit!</p> <br>

            <p>8.2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum nesciunt harum, delectus rem
                eligendi sint nostrum? A velit quae, labore enim iusto corporis voluptate culpa officiis quos est vitae
                facilis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, voluptates quibusdam. Iure odit
                est qui dolor corporis odio doloremque consequuntur obcaecati, inventore eos dolorem, aperiam ullam
                ratione. Vitae, nesciunt consequatur!</p> <br>

            <p>8.3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id est deserunt magnam excepturi veritatis
                officiis magni culpa consequuntur illum, perspiciatis optio corrupti nam illo facilis eveniet ducimus
                ullam doloribus deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis asperiores
                cupiditate minus enim quidem earum quaerat, ipsam tempora quisquam, magnam, labore hic voluptates dolor.
                Fuga quidem vero nam quasi placeat!</p> <br>
        </ol>
    </section>


    <!-- Redirect para outras pages -->
    <section class="redirect">

        <div id="return_homePage">
            <a href="/">
                <img src="/img/icons/homePage_black_18dp.svg" alt="">
                <p> Página Inicial </p>
            </a>
        </div>

        <div id="redirect_segurancaGarantida">
            <a href="/seguranca-garantida/">
                <img src="/img/icons/lock_black_18dp.svg" alt="">
                <p> Segurança garantida </p>
            </a>
        </div>

        <div id="redirect_suporte">
            <a href="/suporte/">
                <img src="/img/icons/headset_mic_black_18dp.svg" alt="">
                <p> Suporte </p>
            </a>
        </div>

    </section>

    <%- include('./partials/chat') %>

</body>

</html>