<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/seguranca-garantida.css">

</head>

<body>

    <%- include('./partials/header') %>

    <main>

        <section class="demonstrativo_garantia">

            <div class="title-demonstrativo">
                <span> SEGURANÇA GARANTIDA </span>
            </div>

            <div class="demonstrativo_items">

                <div id="produtos-originais">
                    <img src="/img/icons/porcentagem.png" alt="">
                    <p> Produtos 100% <br> originais </p>
                </div>

                <div id="parcelamento">
                    <img src="/img/icons/cartao.png" alt="">
                    <p> Toda a loja <br> em até 12x </p>
                </div>

                <div id="ambiente-seguro">
                    <img src="/img/icons/cadeado.png" alt="">
                    <p> Compra 100% segura </p>
                </div>

                <div id="entrega-garantida">
                    <img src="/img/icons/car_shopping_icon.png" alt="">
                    <p> Entrega garantida </p>
                </div>


            </div>

        </section>

        <section class="content-pageGarantia">

            <span> GARANTIA DE ENTREGA E REEMBOLSO </span>

            <div id="descricao_reembolso">
                <p>
                    Caso o produto não seja entregue no prazo máximo informado, você
                    poderá solicitar o reembolso de seu dinheiro. Sem complicação.
                </p>
            </div>

            <div class="list_info">
                <p> OBS: </p>

                <ul>
                    <li> O Prazo é informado no momento de sua compra. </li>
                    <li> Caso o produto não chegue no prazo máximo informado, você poderá solcitar o reembolso. </li>
                    <li> É necessário apenas entrar em contato, via e-mail ou telefone, para solicitar o reembolso. </li>
                    <li> Após a solicitação de reembolso, o prazo máximo para a devolução do valor é de 3 dias úteis. </li>
                </ul>
            </div>

        </section>

        <section class="selos-container">

            <div class="title-selos">
                <span > Selos </span>
            </div>

            <div class="selos">
                
                <img src="/img/selos/compraSegura.svg" alt="Compra Segura">

                <img src="/img/selos/googleSafeBrowsing.svg" alt="Google Safe Browsing">

                <img src="/img/selos/correios.svg" alt="Correios">

                <img src="/img/selos/opinioesReais.svg" alt="Reclame Aqui">

            </div>

        </section>

        <!-- Redirect para outras pages -->
        <section class="redirect">

            <div id="return_homePage">
                <a href="/">
                    <img src="/img/icons/homePage_black_18dp.svg" alt="">
                    <p> Página Inicial </p>    
                </a>
            </div>

            <div>
                <a href="/suporte/">
                    <img src="/img/icons/headset_mic_black_18dp.svg" alt="">
                    <p> Suporte </p>    
                </a>
            </div>

        </section>
        
    </main>

    <%- include('./partials/chat') %>

    <%- include('./partials/footer') %>

</body>

</html>