<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/suporte.css">

</head>

<body>

    <%- include('./partials/header') %>

    <main>

        <section class="support-container">

            <div class="title-support">
                <span> SUPORTE AO CLIENTE </span>
            </div>

            <div class="sac div-support">
                <div class="title-suporte-div">
                    <img src="/assets/img/icons/call-icon-support.png" alt="" class="callSuport-img">
                    <span> SAC </span>
                </div>

                <div class="divSub-support">
                    <span>
                        <img src="/assets/img/icons/phone_black_18dp.svg" alt="">
                        (11) 97607-0718
                    </span>

                    <span>
                        <img src="/assets/img/icons/phone_black_18dp.svg" alt="">
                        (98) 98462-3626
                    </span>
                </div>
            </div>

            <div class="televendas div-support">
                <div class="title-suporte-div">
                    <img src="/assets/img/icons/televendas-icon.png" alt="" class="callSuport-img">
                    <span> Televendas </span>
                </div>

                <div class="divSub-support">
                    <span>
                        <img src="/assets/img/icons/phone_black_18dp.svg" alt="">
                        (98) 98462-3626
                    </span>

                    <span>
                        <img src="/assets/img/icons/phone_black_18dp.svg" alt="">
                        (27) 09595-2136
                    </span>
                </div>
            </div>

            <div class="suporte-whatsapp div-support">
                <div class="title-suporte-div">
                    <img src="/assets/img/icons/wpp_icon_support.png" alt="" class="callSuport-img">
                    <span> Whatsapp </span>
                </div>

                <div class="divSub-support">
                    <span>
                        <img src="/assets/img/icons/phone_black_18dp.svg" alt="">
                        (11) 97607-0718
                    </span>

                    <span>
                        <img src="/assets/img/icons/phone_black_18dp.svg" alt="">
                        (98) 98462-3626
                    </span>
                </div>
            </div>

            <div class="suporte-email div-support">
                <div class="title-suporte-div">
                    <img src="/assets/img/icons/email_icon_support.png" alt="" class="callSuport-img">
                    <span> E-mail </span>
                </div>

                <div class="divSub-support">
                    <span>
                        <img src="/assets/img/icons/email_black_18dp.svg" alt="">
                        atendimento@dhgames.com.br
                    </span>
                </div>
            </div>

            <div class="horario-atendimento div-support">
                <div class="title-suporte-div">
                    <img src="/assets/img/icons/horario_icon.png" alt="" class="callSuport-img">
                    <span> Horários de atendimento </span>
                </div>

                <div class="divSub-support">
                    <span> Segunda à sexta: 08h às 18h </span>
                    <span> Sábado: 08h às 15h </span>
                </div>

            </div>

            <div class="endereco div-support">
                <div class="title-suporte-div">
                    <img src="/assets/img/icons/localizacao_icon.png" alt="" class="callSuport-img">
                    <span> Endereço </span>
                </div>

                <div class="divSub-support iframeEndereco">
                    <span> Av. Paulista, nº 012, São Paulo/SP - CEP 01234-567 </span>

                    <iframe id="location-gmaps"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.197584455998!2d-46.65867588515055!3d-23.561346184682854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1642062282860!5m2!1spt-BR!2sbr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>

        </section>

        <!-- Redirect para outras pages -->
        <section class="redirect">

            <div id="return_homePage">
                <a href="/">
                    <img src="/assets/img/icons/homePage_black_18dp.svg" alt="">
                    <p> Página Inicial </p>    
                </a>
            </div>

            <div id="redirect_segurancaGarantida">
                <a href="/seguranca-garantida/">
                    <img src="/assets/img/icons/lock_black_18dp.svg" alt="">
                    <p> Segurança garantida </p>    
                </a>
            </div>  

        </section>

    </main>

    <%- include('./partials/chat') %>

    <%- include('./partials/footer') %>

</body>

</html>